/* html {
  font-size: 62.5%;
}
body {
  background-color: hsl(199, 92%, 85%);
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: center;
}
.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  margin: auto;
}
.image {
  max-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8;
  color: #000;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
} */
/* html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  width: 100vw;
  background-color: #34495e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: aliceblue;
  font-family: "Raleway", sans-serif;
}
.App {
  text-align: center;
}
.App-link {
  color: #8be3fb;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
p {
  font-size: 4rem;
}
h1 {
  font-size: 7rem;
  text-transform: capitalize;
}
.h1style {
  min-width: 20rem;
  width: 60rem;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}
html {
  font-size: 62.5%;
}
.main-div {
  min-height: 100vh;
  background: #dfe0f8;
  display: flex;
  justify-content: center;
}
.child-div {
  text-align: center;
  margin-top: 12rem;
  font-size: 20px;
}
.btn {
  border: 2px solid blue;
  border-radius: 4px;
}
.btn:hover {
  background-color: rgb(149, 183, 195);
}
